@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	src:
		local('Rubik Light'),
		local('Rubik-Light'),
		/* from http://fonts.gstatic.com/s/rubik/v1/YpQQMr52QNegP8PsDqdzHg.eot */
		url('fonts/Rubik_300.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/rubik/v1/_MANZMrB8TMofsbpLHz-wQ.woff */
		url('fonts/Rubik_300.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/rubik/v1/DhJ8mE4Ie9jgcuwRrJoRug.woff2 */
		url('fonts/Rubik_300.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=pWab2LOkubLtf869kJwDCQ&skey=30892a5a5aea46ae&v=v1#Rubik */
		url('fonts/Rubik_300.svg#Rubik') format('svg'),
		/* from http://fonts.gstatic.com/s/rubik/v1/o1vXYO8YwDpErHEAPAxpOg.ttf */
		url('fonts/Rubik_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src:
		local('Rubik'),
		local('Rubik-Regular'),
		/* from http://fonts.gstatic.com/s/rubik/v1/zhNS_edmJNn8l_UiSD5Qhw.eot */
		url('fonts/Rubik_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/rubik/v1/6AIK1e5MYhdCKIlT8VC0yQ.woff */
		url('fonts/Rubik_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/rubik/v1/v0oNw8_sYXfBdf4NFGYu5g.woff2 */
		url('fonts/Rubik_400.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=CmwKkoHI8xmKVge792zLsw&skey=cee854e66788286d&v=v1#Rubik */
		url('fonts/Rubik_400.svg#Rubik') format('svg'),
		/* from http://fonts.gstatic.com/s/rubik/v1/4sMyW_teKWHB3K8Hm-Il6A.ttf */
		url('fonts/Rubik_400.ttf') format('truetype');
}
